.square {
    width: 5em;
    height: 5em;
}

.square-no-border {
    width: calc(5em - 1px);
    height: calc(5em - 1px);
}

.pixelated {
    image-rendering: pixelated;
}

.border-solid {
    border: 1px solid black;
}

.no-border {
    border: none;
    border-spacing: 0;
}

.table-unspaced {
    border-spacing: 0;
}

.table-unspaced td {
    padding: 0;
}

.form-control {
    width: 5em !important;
    min-width: 0;
    flex: 0 0 auto;
    box-sizing: border-box;
}
